@model List<PortalCampanas.Models.Campania>

<h2 style="margin-bottom:20px;">Campañas Comerciales</h2>

<div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); gap:20px;">
<form method="get" style="margin-bottom:20px; display:flex; gap:10px;">
    <select name="categoria">
        <option value="">Categoría</option>
        <option>Electro</option>
        <option>Hogar</option>
        <option>Moda</option>
        <option>Tecnología</option>
    </select>

    <select name="estado">
        <option value="">Estado</option>
        <option>Vigente</option>
        <option>Próxima</option>
        <option>Finalizada</option>
    </select>

    <button type="submit" style="background:orange; color:white; border:none; padding:8px 12px; border-radius:6px;">
        Filtrar
    </button>
</form>

@foreach (var c in Model)
{
    <div style="border:1px solid #ddd; border-radius:12px; padding:15px; background:#f9f9f9; box-shadow:0 2px 6px rgba(0,0,0,0.1);">

        <div style="display:flex; justify-content:space-between; align-items:center;">
            <h3>@c.Nombre</h3>

            <span style="
                padding:5px 10px;
                border-radius:10px;
                color:white;
                font-size:12px;
                background-color:
                @(c.Estado == "Vigente" ? "green" :
                  c.Estado == "Próxima" ? "blue" : "gray")">
                @c.Estado
            </span>
        </div>

        <p><strong>@c.Categoria</strong> • @c.DescuentoPct % • @c.FechaInicio.ToShortDateString()</p>

        <p style="margin:5px 0;">
            <span style="background:#eee; padding:3px 8px; border-radius:6px;">
                @c.Canal
            </span>
        </p>

        <a href="/Campanas/Detalle/@c.Id"
           style="
           display:block;
           text-align:center;
           margin-top:10px;
           padding:8px;
           border-radius:8px;
           background:#e0e0e0;
           text-decoration:none;
           color:black;">
            Ver detalle
        </a>

    </div>
}

</div>